@font-face {
    font-family: "Proxima Nova Regular";
    src: url('assets/fonts/ProximaNova-Reg.otf') format("truetype")
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url('assets/fonts/ProximaNova-Sbold.otf') format("truetype")
}

@font-face {
    font-family: "Proxima Nova Light";
    src: url('assets/fonts/ProximaNova-Light.otf') format("truetype")
}

body {
  font-family: "Proxima Nova Regular"
}

// Variables
$gn-blue: #4F78AB;
$gn-black: #000000;
$gn-white: #FFFFFF;
$gn-gray: #4A4A4A;

// Bootstrap Overrides
.gemnote {
  .navbar-default {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFFFFF;
    border: none;
    .navbar-nav > li > a {
      letter-spacing: 1.13px;
      color: $gn-black;
      text-transform: uppercase;
    }

    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
      color: $gn-black;
      letter-spacing: 9.8px;
      &:hover {
        color: $gn-black;
      }
    }

    .navbar-right {
      margin-right: 0;
      .btn-gemnote {
        margin-left: 10px;
        letter-spacing: 1.13px;
      }
    }
  }

  .btn-gemnote {
    background: $gn-gray;
    box-shadow: 0 1px 5px 1px rgba(185,180,180,0.50);
    color: white;
    letter-spacing: 1.83px;
  }

  .full-bleed {
    &.col-sm-12 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .companies-text {
    h3 {
      margin-bottom: 0;
    }
  }
}

.main-body {
  padding-top: 60px;
}

.tabs {
  text-align: center;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    listing-style-type: none;
    display: inline-block;
    margin: 0 20px;
    @media (max-width: 768px) {
      display: block;
      margin: 10px 0;
    }
    a {
      /* Home: */
      letter-spacing: 0.92px;
      color: $gn-black;
      padding-bottom: 5px;
      &:hover, &.is-active {
        text-decoration: none;
        border-bottom: 2px solid $gn-blue;
      }
    }
  }
}

.signup {
  position: relative;
  .signup-img {
    width: 100%;
  }

  .signup-info {
    width: 25%;
    left: 7%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1024px) {
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
      transform: translateY(0);
    }

    .signup-title {
      letter-spacing: 2.07px;
      color: $gn-gray;
      margin-bottom: 20px;
      h2 {
        margin-top: 0;
        margin-bottom: 0;
      }
      @media (max-width: 1024px) {
        text-align: center;
      }
    }
    .signup-form {
      width: 75%;
      @media (max-width: 1024px) {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
      }
      .signup-input {
        border: 1px solid #CDC8C8;
        box-shadow: 0 2px 3px 0 rgba(213,213,213,0.50);
        border-radius: 4px;
        &::placeholder {
          font-family: "Proxima Nova Regular";
          color: rgba(0,0,0,0.45);
          letter-spacing: 1.85px;
        }
      }
    }
  }
}

.companies-text {
  padding: 15px 0;
}

.companies-img {
  margin: 0 auto;
}

.form-to-show {
  max-height: 0;
  overflow-y: hidden;
  &.show-form {
    max-height: 200px;
    transition: max-height 2s;
  }
}
